.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100%;
}

.header-background {
    background-image: url(https://camo.githubusercontent.com/15b1c37b978027ecd7c8373f41b0b77d3ac253f9a11a73f208aa136ef9345174/68747470733a2f2f7468756d62732e6766796361742e636f6d2f53706f746c657373477265617449766f727962696c6c6564776f6f647065636b65722d73697a655f726573747269637465642e676966);
    height: 200px;
    width: 100%;
    border-radius: 20px;
    margin:auto;
    background-size: cover;
    image-orientation: center;
}

.picture {
    margin-top: -70px;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    border: 7px solid rgb(212, 215, 228);
}

.name {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color:rgba(255, 249, 249, 0.993)
}

.description {
    font-weight: 600;
    font-size: 1.5rem;
    color: rgba(250, 249, 249, 0.925);
    text-align: center;
}

@media (min-width: 1600px) {
    .header-background {
        height: 270px;
    }
}